.padding-075rem {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.TasksDeleteAndDone {
  border-radius: 99px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 103, 103);
  border: none;
  color: white;
  text-align: start;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

